openapi: 3.2.0
info:
  title: Orionis Biosciences Website Content API (WordPress REST)…
  version: wp/v2
  summary: Anonymous read API over the Orionis Biosciences corporate site content.
  description: Orionis Biosciences (orionisbio.com) runs on WordPress and exposes the WordPress REST API publicly and anonymously at https://orionisbio.com/wp-json/.
  contact:
    name: Orionis Biosciences
    url: https://orionisbio.com/contact/
  x-derived-from: https://orionisbio.com/wp-json/
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
servers:
- url: https://orionisbio.com/wp-json
  description: Production
security: []
tags:
- name: Discovery
paths:
  /:
    get:
      operationId: getRouteIndex
      summary: GET /
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          default: view
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2:
    get:
      operationId: getWpV2
      summary: GET /wp/v2
      tags:
      - Discovery
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wp/v2
          type: string
      - name: context
        in: query
        required: false
        schema:
          default: view
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/types:
    get:
      operationId: getWpV2Types
      summary: GET /wp/v2/types
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/types/{type}:
    parameters:
    - name: type
      in: path
      required: true
      schema:
        type: string
      description: Path segment `type` from the WordPress route pattern `/wp/v2/types/(?P<type>[\w-]+)`.
    get:
      operationId: getWpV2TypesByType
      summary: GET /wp/v2/types/{type}
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/statuses:
    get:
      operationId: getWpV2Statuses
      summary: GET /wp/v2/statuses
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/statuses/{status}:
    parameters:
    - name: status
      in: path
      required: true
      schema:
        type: string
      description: Path segment `status` from the WordPress route pattern `/wp/v2/statuses/(?P<status>[\w-]+)`.
    get:
      operationId: getWpV2StatusesByStatus
      summary: GET /wp/v2/statuses/{status}
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/taxonomies:
    get:
      operationId: getWpV2Taxonomies
      summary: GET /wp/v2/taxonomies
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: Limit results to taxonomies associated with a specific post type.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/taxonomies/{taxonomy}:
    parameters:
    - name: taxonomy
      in: path
      required: true
      schema:
        type: string
      description: Path segment `taxonomy` from the WordPress route pattern `/wp/v2/taxonomies/(?P<taxonomy>[\w-]+)`.
    get:
      operationId: getWpV2TaxonomiesByTaxonomy
      summary: GET /wp/v2/taxonomies/{taxonomy}
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Blocked by the site firewall or capability check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope (not RFC 9457). Observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic). The site advertises the authorization endpoint https://orionisbio.com/wp-admin/authorize-application.php in its /wp-json/ root document. Write access only; not issued to the public.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication with an X-WP-Nonce header (first-party browser context only).
externalDocs:
  description: WordPress REST API Handbook (the upstream specification this host implements)
  url: https://developer.wordpress.org/rest-api/
